.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  color: white;
  transition: opacity ease 2s;
}

.footer__column-link:hover {
  opacity: 0.5;
}
